html{
  background-image: url(../Brawl\ ik/media/fon_btawl_siniy.jpg);
  width: 100%;
  height: 100%;
  background-position: center, center;
  background-size: cover;
  text-align: center;
  
}

.button-link {
  display: inline-block;
  background-color: rgb(111, 0, 255);
  padding: 10px 20px;
  color: rgb(36, 0, 36);
  border-radius: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  animation: pulse 2s infinite;
}
.button-link:hover {
  background-color: rgb(180, 20, 255);
}
.flex-header {
  display: inline-flex;
  justify-content: space-between;
  margin: 1%;
}

.flex-footer {
  display: inline-flex;
  justify-content: space-between;
  margin: 1%;
}

.button-link:active {
  transform: translateY(2px);
}

.button-link:focus {
  outline: 4px solid black;
  outline-offset: 3px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

header {
  background: rgb(255, 187, 0);
  padding: 1%;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 10;
}

.boisi { 
  width: 20%;
  display: block;
  border: 5px solid black;
  border-radius: 30px;
}

body{
margin: 0;
}